*.suo
WootzJs.Compiler.Tests/bin/
WootzJs.Compiler.Tests/obj/
WootzJs.Compiler/bin/
WootzJs.Compiler/obj/
WootzJs.Runtime/obj/
WootzJs.JQuery/obj/
WootzJs.Web/obj/
WootzJs.JQuery/bin/
WootzJs.Web/bin/
WootzJs.Mvc/bin/
WootzJs.Mvc/obj/
*.user
WebSite/WootzJs.Site.Web/bin/
WebSite/WootzJs.Site.Web/obj/
WebSite/WootzJs.Site.Api/bin/
WebSite/WootzJs.Site.Api/obj/
WootzJs.Rx/bin/
WootzJs.Rx/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WootzJs.Rx.Tests/bin/Debug/WootzJs.Rx.Tests.js
WootzJs.Rx.Tests/bin/
WootzJs.Rx.Tests/obj/
WootzJs.Rx/obj/
WootzJs.Injection/obj/
build/*.dll
build/*.pdb
build/*.js
WootzJs.Injection/bin/
WootzJs.Models/bin/
WootzJs.Models/obj/
WootzJs.System/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WootzJs.System/obj/
WootzJs.System/bin/
WootzJs.ComponentModel.DataAnnotations/bin/
WootzJs.ComponentModel.DataAnnotations/obj/Debug/System.ComponentModel.DataAnnotations.pdb
WootzJs.ComponentModel.DataAnnotations/obj/
